.banner {
  padding-top: 56px ;
  margin-block-end: 20px;
  font-family: 'Lobster', cursive;
  -webkit-text-stroke: 2px black;
}
.navbar {
  background-color: white;
  color: goldenrod;
}
.Titulos {
  color: goldenrod;
}
.btn-ver {
  width: 100%;
  background-color: white;
  color: white;
}
.jumbotron {
  font-family: 'Lobster', cursive;
  background-color: white;
  background-image: url(../Imagenes/Index.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  color: goldenrod;
  text-align: center ;
  padding-top: 200px;
  text-shadow: 1px 2px #a0a0a0;
  -webkit-text-stroke: 2px black;
  margin-block-end: 20px;
}
div.blanco {
  color: white;
}
h5 {
  color: goldenrod;
}
footer {
  padding: 10px 20px 0px 20px;
  background-color: white;
  color: goldenrod;
  margin-bottom: 50px;
  margin-top: 30px;
}
footer a {
  color: white;
}
.card-design {
  flex: 1 250;
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
}
